<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../static/base.css">
<head>
    <title>The Book Project</title>
</head>
<body>
    <div class="col-md-offset-2"><p></p></div>
    <div class="main-page col-md-10">
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}
    </div>
</body>


</html>
